{
  "ConnectionStrings": {
    "DefaultConnection": "",
    "CosmosConnection": ""
  },
  "Auth0Settings": {
    "Authority": "",
    "Audience": "",
    "APIClientID": "",
    "APIClientSecret": "",
    "APIAudience": "",
    "APIGrantType": "",
    "APIRootURL": ""
  }
}